#landing-page {
    background-image: url(images/jobseeker_landing_cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
}

.add-width {
    width: 100%;
    font-size: large;
}


/* view details */

#pop-up-form {
    display: none;
    width: 70%;
    position: absolute;
    top: 12%;
    border-radius: 1rem;
}