#landing-page {
    background-image: url(images/jobseeker_landing_cover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
}

.add-width {
    width: 100%;
    font-size: large;
}


/* view details */

.hide-display {
    display: none;
}

#view-details {
    border: 2px solid black;
}

.text-center {
    text-align: center;
}

.place {
    position: relative;
    left: 94%;
    /* margin-top: -9%; */
    border-radius: 0.6rem;
}


/* Login and registration  */

.login-bg {
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.bg {
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}

.landing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.label-w-x {
    margin-left: 20px;
}

.pop-up-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

.detail-image {
    background: url("./uploads/newDetails.png");
    opacity: 0.8;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
}

body {
    font-size: medium;
    font-family: cursive;
}

label {
    width: 10rem;
    font-weight: bold;
    /* font-family: cursive; */
    padding: 0.5rem;
}

.detail>span,
p {
    font-family: cursive;
}

.detail-heading {
    font-size: larger;
    color: black;
    font-weight: bolder;
    text-align: center;
    font-family: cursive;
}