<% if(errors) {%>
    <ul class="mt-2 text-primary-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
        <li>
            <%=errors%>
        </li>
    </ul>
    <%}%>
        <form action='/apply' method="post" class="mt-5 col-6 m-auto" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="name">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Contact</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="contact">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Resume</span>
                <input type="file" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" accept="application/pdf" name='resume'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>