<div id="landing-page">
    <h3>Destiny is waiting for you!!</h3>
    <p>
        Job search portal typically offer a range of features for both job seekers and recruiters.
    </p>
    <a class="btn btn-primary" href="/jobs" role="button">I'm Job Seeker</a>
    <a class="btn btn-primary" href="/" role="button">Recruiter</a>
</div>