<div id="landing-page">
    <h3>Welcome To Job Seeker</h3>
    <p>
        Job search portals typically offer a range of features for both job seekers and employers. For job seekers, these features may include job search filters (such as location, industry, and job type), resume upload and creation tools, job alerts, company
        profiles, salary information, and career advice resources. For employers, features may include job posting and management tools, applicant tracking systems, candidate search and screening capabilities, employer branding options, and analytics
        dashboards.
    </p>
    <a class="btn btn-primary" href="/jobs" role="button">I'm Job Seeker</a>
    <a class="btn btn-primary" href="/" role="button">Recruiter</a>
</div>